{% extends 'layout.html' %}

{% block content %}

<h1 class="mt-4">About The Project</h1>

<div class="ml-4">
    <div class="row">
        <div class="col-8">
                <p class="mt-4">I'm glad you're interested in learning more about the website, take a look at some of these about sections
                  to learn more! </p>
                  

                  <h3>About the Site</h3>

                  <p>EasyDict was created entirely in Python using the Flask and Difflib framework. The CSS framework Bootstrap was
                    used for the frontend. I decided to use Bootstrap because I find personally find the frontend to be rather tedious,
                    and Bootstrap provides a clean, overall good looking design without having to put in too much extra effort.
                    The site took approximately 10-12 hours to make.
                  </p>
                
                  <h3>About the Dev</h3>

                  <p>I'm a 17 year old currently living in Vancouver, BC. Since we are currently quarantined because
                    of COVID-19 I decided I wanted to really work on my coding abilities, so I decided to make my first
                    real useful application without the use of a tutorial. This resulted in EasyDict, where I took some
                    old code, learned how to use Flask, and turned my code into a web application. 
                  </p>

                                
                  <h3>Future Plans</h3>

                  <p>Since everyone is quarantined at the moment and we have all the time in the world, my two main goals
                    are to improve my programming skills and learn about business. I would like to get into Artificial Intelligence
                    and Machine Learning as I find the two fields very interesting, and I am also working my way towards eventually
                    founding a startup. In the meantime I'm going to keep on developing small-medium scale applications and add them
                    to my github to track my progress. Hopefully good things come!
                  </p>
               
                    
      <div class="col-3"></div>
        </div>
    </div>
   
</div>

{% endblock %}