{% extends 'layout.html' %}

{% block content %}

<h1 class="mt-4">Contact Me</h1>

<div class="ml-4">
        <div class="row">
            <div class="col-8">
                    <p class="mt-4">Hey there, if you're interested in contacting the creator of this application(me) some
                        of my contact information will be listed down below!

                    </p>
                   <ul>
                       <li><a href="mailto:ryan.haraki@hotmail.com?Subject=EasyDict%20" target="_top">Email</a>
                       </li>
                       <li><a href="https://github.com/RyanHaraki">Github</a> </li>
                       <li><a href="https://www.reddit.com/user/Baller59">Reddit</a></li>
                       <li><a href="https://www.instagram.com/ryan.haraki/?hl=en">Instagram</a></li>
                       <li><a href="https://www.linkedin.com/in/ryan-haraki-2432641a5/">Linkedin</a></li>
                </ul>
          <div class="col-3"></div>
            </div>
        </div>
       
    </div>

{% endblock %}